[submodule "libs/STI"]
	path = libs/STI
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "libs/LoveFrames"]
	path = libs/LoveFrames
	url = https://github.com/cyborgize/LoveFrames.git
